<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Editar Productos</h3>
        </div>
        <div class="card-body">
           <form action="">
               <div class="row">
                <div class="col-sm-2">
                    <div class="form-group"> 
                        <label for="">Codigo</label>
                        <input hidden="" type="text" class="form-control"  [(ngModel)]="product.id" name="id">
                        <input type="text" class="form-control"  [(ngModel)]="product.code" name="code">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="">Nombre</label>
                        <input type="text" class="form-control" [(ngModel)]="product.name" name="name">
                        </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="">Descripción</label>
                        <input type="text" class="form-control" [(ngModel)]="product.description" name="description">
                        </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="">Valor</label>
                        <input type="number" class="form-control" [(ngModel)]="product.valor" name="valor">
                        </div>
                </div>
            </div>
            <button (click)="Actualizar(product)" class="btn btn-warning">Actualizar</button>
           </form>
        </div>
    </div>
</div>